---
import { Image } from 'astro:assets';

---

<section id="about" class="section banner is-flex is-flex-direction-column">
  <div class="container">
    <h1 class="title main-title is-flex is-justify-content-center">
      <span class="mr-3 mb-6">About Me</span>
    </h1>
    <div class="columns">
      <div class="column">
        <figure class="image">
          <Image src="/about.jpg" alt="logo" width="400" height="400" />
        </figure>
      </div>
      <div class="column">
        <p class="is-size-5 about">I grew up with Rottweilers my entire life and have done boarding and walking on Rover since 2022. As you can see my logo is in memory of my last rottie Nala. I have been full time in taking care of dogs as of the beginning of 2023. When I watch any pup I am always focused on attention to detail and understanding your dog's behaviors and patterns so they can enjoy the full experience of the Barkyard.
        <br>
      </p>
    </div>
  </div>
</section>

<style>
	.banner {
    gap: 2rem;
	}

  .about,
  .main-title {
    color: #353535;
  }

	.list {
		text-align: left;
		font-size: 20px;

		li {
			display: flex;
			justify-content: space-between;
		}
	}

</style>
