---
import { Image } from 'astro:assets';

---

<section id="about" class="section banner is-flex is-flex-direction-column">
  <div class="container">
    <h1 class="title main-title is-flex is-justify-content-center">
      <span class="mr-3 mb-6">About Me</span>
    </h1>
    <div class="columns">
      <div class="column">
        <figure class="image">
          <Image src="/about.jpg" alt="logo" width="400" height="400" />
        </figure>
      </div>
      <div class="column">
        <p class="is-size-5 about">
          Hi, I'm Brenton! Dogs have been a huge part of my life for as long as I can remember. Growing up, our family always had rottweilers, and they quickly became more than just pets—they were family. When I went to college, I got my very own rottweiler, Nala, who became my constant companion. Losing Nala was incredibly tough, but it also gave me the inspiration to pursue something I've always loved—caring for dogs.
          <br>
          <br>
          During the pandemic, I turned that passion into something more meaningful by starting Brenton's Barkyard, logo in honor of Nala. Taking care of dogs isn't just a job for me; it's a way to continue spreading the love and joy that Nala brought into my life.
          <br>
          <br>
          With over five years of experience in training and caring for dogs, especially larger breeds, I've learned so much. But every day is a new chance to grow, connect, and create an engaging and safe environment for every dog I meet. Whether it's playtime, training, or just a good belly rub, I'm here to make sure your dog feels right at home.
          <br>
          <br>
          Check out my reviews on <a href="https://g.co/kgs/weLwmh2" target="_blank">Google</a> and <a href="https://www.rover.com/members/brenton-y-spacious-yard-in-downtown-millbrae/" target="_blank">Rover</a>!
        <br>
      </p>
    </div>
  </div>
</section>

<style>
	.banner {
    gap: 2rem;
	}

  .about,
  .main-title {
    color: #353535;
  }

	.list {
		text-align: left;
		font-size: 20px;

		li {
			display: flex;
			justify-content: space-between;
		}
	}

</style>
