---
import { Image } from 'astro:assets';
import InstagramIcon from "./InstagramIcon";
import YelpIcon from "./YelpIcon";
import RoverIcon from "./RoverIcon";

---

<footer id="footer" class="section is-flex is-flex-direction-column">
  <div class="columns container">
    <div class="column footer-left-col">
      <h3 class="is-size-3 has-text-weight-bold">
        <span class="has-text-white">Brenton's Barkyard</span>
      </h3>
      <div>
        email: <a class="has-text-white" href="mailto:brentonsbarkyard@gmail.com">brentonsbarkyard@gmail.com</a>
      </div>
      <div>
        phone: <a href="tel:+16505806961" class="has-text-white">650-580-6961</a>
      </div>

      <div class="is-flex social-icons">
        <a
          href="https://instagram.com/brentons_barkyard"
          target="_blank"
          >
          <InstagramIcon />
        </a>
        <a
        href="https://www.rover.com/members/brenton-y-spacious-yard-in-downtown-millbrae/"
        target="_blank"
        >
          <RoverIcon />
        </a>
        <a
        href="https://www.yelp.com/biz/brenton-s-barkyard-south-san-francisco"
        target="_blank"
        >
          <YelpIcon />
        </a>
    </div>
    </div>
    <div class="column">
      <Image src="/map.png" alt="logo" width="600" height="480"></Image>
    </div>
    <div class="column"></div>
  </div>
</footer>

<style>
  #footer {
    background-color: #141414;
  }

	.footer-left-col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .social-icons {
    margin-top: 1rem;
    gap: 1.5rem;

    svg:hover {
      opacity: 0.6;
    }
  }
</style>
