---


---

<section id="policy" class="section banner is-flex is-flex-direction-column">
  <div class="columns">
    <div class="column">
      <h1 class="title main-title">
        <span class="has-text-white">Policy</span>
      </h1>
      <p class="has-text-white policy">
        <b>DEPOSIT REQUIRED</b>
        <br>
        Booking requires a deposit to secure dates. Deposits will be
        credited towards the stay. Remaining payment is due upon
        drop off.
        Last minute bookings less than 48 hour, 10% increase will be
        added on total bill.

        <br>
        <br>

        <b>REFUND POLICY</b>
        <br>
        Refunds available if cancelled 7 days prior to stay. Deposits
        are kept as cancellation fees if canceled under 7 days of
        booking.

        <br>
        <br>

        <b>HOLIDAYS</b>
        <br>
        Rates may differ on holidays and pricings apply
        starting prior Friday to the upcoming Holiday.
        If Memorial day is on a Monday, Holiday is counted
        from Friday all the way up to Monday. Includes
        most US holidays on the Google calendar. Please
        inquire for more details.
      </p>
    </div>

  <div class="column">
    <h1 class="title main-title">
      <span class="has-text-white">Terms & Conditions</span>
    </h1>
    <p class="has-text-white">
      Acceptance and acknowledgement of risk. You fully understand that
      while your pet is staying with us, he or she will come into contact with
      other pets. Every effort will be made to ensure the safety of our
      guests but there are inherent risks involved with interactions
      between humans and dogs, as well as between dogs and other dogs,
      which may result in property damage or bodily injury, including but
      not limited to, sickness or death to human or dog; and there may be
      other risks not known to you or Brenton's Barkyard Services, nor
      readily foreseeable at this time (collectively, "risks"). You fully accept
      and assume all risks and responsibility for all risks, including,
      without limitation, all losses, costs and damages incurred as a result
      of your pet's participation at any daycare or boarding, including any
      veterinarian expenses incurred on behalf of or caused by your pet.
      You hereby voluntarily release, forever discharge, and agree to hold
      harmless and indemnify Brenton's Barkyard Services and its agents,
      successors, heirs, from any and all liability, claims, demands,
      actions, or rights of action, which are related to, arise out of, or are
      in any way connected with your pet's participation in activities at
      Brenton's Barkyard Services, including those allegedly attributable
      to the negligent acts or omissions of Brenton's Barkyard Services or
      their staff. You are also up to date with your pets vaccines, shots,
      and medication (Rabies, DAPP aka DHPP & Bordetella required,
      highly recommend Canine Influenza and flea medication).
    </p>
  </div>
</section>

<style>
  .policy {
    max-width: 600px;
  }
	.banner {
    background: #353535;
    gap: 2rem;
	}

	.list {
		text-align: left;
		font-size: 20px;

		li {
			display: flex;
			justify-content: space-between;
		}
	}

	.about-text {
    font-size: 1.5rem;
  }
</style>
