---
import PawIcon from '../components/PawIcon.astro'

---

<section class="section banner is-flex is-flex-direction-column">
  <h1 class="title main-title is-flex is-justify-content-center">
    <span class="mr-3">SERVICE DETAILS</span>
    <PawIcon />
  </h1>

  <div class="section-content" id="boarding">
    <div>
      <p class="list-header">boarding</p>
      <p>Boarding is a 24 hour basis stay</p>
      <p>Anything past 4 hours from drop off will include half/full
      extended stay.</p>
      <br>
      <p>
        <b>Drop-off/Pick-up Hours:</b>
        <br>
        8am-9am or 1pm-6pm
        <br>
        6pm-10pm after hours
      </p>
      <br>
      <p>
        Boarding includes feeding, free roam or rotational
        backyard time, and over night stay.
        <br>
        For boarding without park visits, pups will either be crated
        or free roam depending on behavior and temperament.
        <br>
        Extra care may be added depending on severity of
        anxious, destructive, and aggressive behavior
      </p>
    </div>
  </div>
  <div class="section-content" id="daycare">
    <div>
      <p class="list-header">daycare</p>
      <p>
        Daycare is based day by day. Half Daycare is anything less than 4 hours. Any hours more than 4 will be counted as Full Daycare.
      </p>
      <br>
      <p>
        <b>Drop-off/Pick-up Hours:</b>
        <br>
        8am-9am or 1pm-6pm
        <br>
        6pm-10pm after hours
      </p>
      <br>
      <p>
        Daycare does <b>not</b> include park visit
        <br>
        During park visit hours, pups will either be crated or free roam depending on behavior and temperament.
        <br>
        Extra care may be added depending
        on severity of anxious, destructive, and aggressive
        behavior.
        <br>
        Half day care is anything <b>less</b> than 4 hours.
      </p>
    </div>
  </div>

  <div class="section-content" id="park-visit">
    <div>
      <p class="list-header">Park Visit</p>
      <p>
        Will take your pup from my home to a local park for at least 1.5 - 2 hours
      </p>
    </div>
  </div>

  <div class="section-content" id="drop-in-visit">
    <div>
      <p class="list-header">Drop-in Visit</p>
      <p>
        Take care of your pup at the comfort of your own home for an hour.
        <br>
        Includes, but not limited to, feeding, walking, cleaning, filling up water bowls.
      </p>
    </div>
  </div>

  <div class="section-content" id="pick-up-drop-off">
    <div>
      <p class="list-header">Pickup/Dropoff</p>
      <p>
        From my home to your designated location I will pick up or drop off your pup.
        <br>
        $20 minimum within 5 miles, +$3/extra mile
      </p>
    </div>
  </div>

  <div class="section-content" id="extra-care">
    <div>
      <p class="list-header">Extra Care</p>
        <div class="is-flex is-flex-wrap-wrap">
          <div class="mr-6 mb-4">
            <b>Behaviors that require extra care:</b>
            <ul>
              <li>Excessive separation anxiety</li>
              <li>Accidents in house more than once</li>
              <li>Marking territory</li>
              <li>Excessive aggression</li>
              <li>Resource guarding / territorial</li>
              <li>Jumping on or destroying furniture</li>
              <li>Requires bedding changes</li>
              <li>Excessive diarrhea</li>
              <li>Requires hand feeding medication</li>
            </ul>
          </div>
          <div>
            <b>Enforced crating when left unsupervised if:</b>
            <ul>
              <li>Not potty trained</li>
              <li>Marks territory</li>
              <li>High energy</li>
              <li>Resource guards</li>
              <li>Chews on furniture / scratches doors</li>
              <li>Reactive or shows any sign of aggresive behavior</li>
            </ul>
          </div>
        </div>
        <p class="has-text-centered mt-5">I will work around the clock to provide the best care for your pup!</p>
      </p>
    </div>
  </div>
</section>

<style>
	.banner {
		background: #bc6c22;
    gap: 2rem;
	}

	.prices {
		display: flex;
		gap: 4rem;
	}
</style>
