---
import PawIcon from '../components/PawIcon.astro'

---

<section id="services" class="section banner is-flex is-flex-direction-column">
  <h1 class="title main-title is-flex is-justify-content-center">
    <span class="mr-3">services & pricing</span>
    <PawIcon />
  </h1>
  <div class="section-content">
    <div>
      <p class="list-header">
        <span>service</span>
        <span class="size-header">
          <span>S</span>
          <span>M/L</span>
        </span>
      </p>
      <ul class="list">
        <li>
          <span>Boarding overnight (24hr basis) *</span>
          <div class="prices">
            <span>70</span>
            <span>80</span>
          </div>
        </li>
        <li>
          <span>Half extended stay (+4hrs)</span>
          <div class="prices">
            <span>35</span>
            <span>40</span>
          </div>
        </li>
        <li>
          <span>Full extended stay (+8hrs)</span>
          <div class="prices">
            <span>70</span>
            <span>80</span>
          </div>
        </li>
        <li>
          <span>Half daycare</span>
          <div class="prices">
            <span>35</span>
            <span>45</span>
          </div>
        </li>
        <li>
          <span>Full daycare</span>
          <div class="prices">
            <span>45</span>
            <span>55</span>
          </div>
        </li>
        <li>
          <span>Park visit</span>
          <div class="prices">
            <span>40</span>
            <span>40</span>
          </div>
        </li>
        <li>
          <span>Drop-in visit/walks</span>
          <div class="prices">
            <span>40</span>
            <span>40</span>
          </div>
        </li>
        <li>
          <span>Pickup *</span>
          <div class="prices">
            <span>20</span>
            <span>20</span>
          </div>
        </li>
        <li>
          <span>Dropoff *</span>
          <div class="prices">
            <span>20</span>
            <span>20</span>
          </div>
        </li>
      </ul>
    </div>
    <br>
    <p>* 7+ night stays will be discounted</p>
    <p>* Minimum $20 within 5 miles, +3 per extra mile</p>
    <p>* Facility with more than 6 pups may be subject to higher rates</p>
  </div>

  <div class="section-content extras">
    <div>
      <p class="list-header">
        Extras
      </p>
      <ul class="list">
        <li>
          <span>Airport drop-off/pick-up</span>
          <span>20</span>
        </li>
        <li>
          <span>Puppies under 1 years old</span>
          <span>10</span>
        </li>
        <li>
          <span>XL dogs (>120lbs)</span>
          <span>10</span>
        </li>
        <li>
          <span>Not fixed* (unneutered/unspayed)</span>
          <span>10</span>
        </li>
        <li>
          <span>Services past 6pm (after hours)</span>
          <span>5/hr</span>
        </li>
        <li>
          <span>Extra care*</span>
          <span>40</span>
        </li>
      </ul>
    </div>
    <br>
    <p>* Added price per service</p>
  </div>
</section>

<style>
	.banner {
		background: #edb067;
    gap: 2rem;
	}


	.list {
		text-align: left;
		font-size: 20px;

		li {
			display: flex;
			justify-content: space-between;
		}
	}

	.prices {
		display: flex;
		gap: 4rem;
	}
</style>
